<% layout('layouts/boilerplate') %>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mx-auto bg-light bg-gradient">
            <div id="map" style="width: 90%; height: 400px;" class="mx-auto"></div>
        </div>
        <div class="col-md-8 mx-auto">
            <h1 class="my-3">All campgrounds</h1>

            <% for(let camp of campgrounds) { %>

            <div class="card mt-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(camp.images.length) {%>
                        <img class="img-fluid" alt="" src="<%=camp.images[0].url%>">
                        <% } else {%>
                        <img
                            src="https://res.cloudinary.com/kksenpai01/image/upload/v1628939807/YelpCamp/wpbc8j8juurhyyyubggh.jpg">
                        <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title"><b><%= camp.title %></b>,
                                <%= camp.location %></h3>
                            <p class="card-text"><%= camp.description %>
                                <span class="d-block"><b>Price:
                                    </b>&#8377;<%= camp.price%> per
                                    night</span>
                            </p>
                            <a href="/campgrounds/<%= camp._id %>"
                                class="btn btn-primary">More</a>
                        </div>
                    </div>
                </div>
            </div>

            <% } %>

            <a href="/">Home</a>
            <a href="/campgrounds/new">New</a>
        </div>
    </div>
</div>



<script type="text/javascript">
    const mapboxToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/js/mapboxCluster.js"></script>