<% layout('layouts/boilerplate') %>


<div class="container-fluid mb-4">
    <div class=" mx-auto bg-light bg-gradient">
        <div id="map" style="width: 90%; height: 400px;" class="mx-auto"></div>
    </div>

    <section class="my-3 my-md-5 text-center">
        <h1>All campgrounds & hotels</h1>
    </section>

    <div class="album container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% for(let camp of campgrounds) { %>
            <div class="col">
                <div class="card shadow-sm">
                    <% if(camp.images.length) {%>
                    <img class="img-fluid" alt="" src="<%=camp.images[0].url%>">
                    <% } else {%>
                    <img
                        src="https://res.cloudinary.com/kksenpai01/image/upload/v1628939807/YelpCamp/wpbc8j8juurhyyyubggh.jpg">
                    <% } %>
                    <div class="card-body">
                        <h4 class="card-title"><b><%= camp.title %></b></h3>
                            <h6 class="card-subtitle mb-2 text-muted"><%= camp.location %>
                                </h5>
                                <p class="card-text"><%= camp.description %>
                                    <span class="d-block"><b>Price:
                                        </b>&#8377;<%= camp.price%> /
                                        night</span>
                                </p>
                                <div class="d-grid gap-2 d-lg-block mt-auto">
                                    <a href="/campgrounds/<%= camp._id %>"
                                        class="btn btn-primary card-link">More</a>
                                </div>
                    </div>
                </div>
            </div>


            <% } %>
        </div>

    </div>
</div>



<script type="text/javascript">
    const mapboxToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/js/mapboxCluster.js"></script>